<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
<a href="#main" id="skipnav">Skip to main content</a>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% include header.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <nav class="sticky-top">
            <div class="main-nav js-main-nav">
                <div id="sidebar" class="sidebar-item">
                    {% include nav.html %}
                </div>
            </div>
            </nav>
        </div>
        <div class="col-sm-9">
            <div class="content-section">
                <main id="main" class="container js-main-content" role="main" >
                        <div class="main-content">
                          {% unless page.url == "/" %}
                            {% if page.parent %}
                              <nav class="breadcrumb-nav">
                                <ol class="breadcrumb-nav-list">
                                  {% if page.grand_parent %}
                                    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                                    <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
                                  {% else %}
                                    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
                                  {% endif %}
                                  <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
                                </ol>
                              </nav>
                            {% endif %}
                          {% endunless %}
                          <div id="main-content" class="page-content" role="main">

                            {{ content }}
                  
                            {% if page.has_children == true and page.has_toc != false %}
                            <hr>
                            <h2 class="text-delta">Table of contents</h2>
                            {% assign children_list = site.pages | sort:"nav_order" %}
                            <ul>
                              {% for child in children_list %}
                                {% if child.parent == page.title and child.title != page.title %}
                                <li>
                                  <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>
                                </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </div>
                        </div>
                </main>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col">
            {% include footer.html %}
        </div>
    </div>
</div>

<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
</body>
</html>
    